<a href="https://colab.research.google.com/github/nswekosk/hands-on-machine-learning-practice/blob/master/Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# `Series` objects

3 types of data structures:
* `Series` : A `Series` objecti s 1Da array, simliar to a column in a spreadsheet (with a column name and row labels).
* `DataFrame`: A 2D table, similar to a spreadsheet (with column nmaes and row labels)
* `Panel`: A dictionary of `DataFrame`s. These are less used and I won'tt be looking deeper into these

# Creating a `Series`

In [ ]:
s = pd.Series([2, -1, 3, 5])
s

0    2
1   -1
2    3
3    5
dtype: int64

# Similar to a 1D `ndarray`

`Series` objects behave much like one-dimensional NumPy `ndarray`s, and you can often pass them as parameters to NumPy functions:

In [4]:
import numpy as np
np.exp(s)

0      7.389056
1      0.367879
2     20.085537
3    148.413159
dtype: float64

Arithmetic operations on `Series` are also possible, and they apply elementwise, just like for `ndarray`s:

In [5]:
s + [1000, 2000, 3000, 4000]

0    1002
1    1999
2    3003
3    4005
dtype: int64

Similar to NumPy, if you add a single number to a `Series`, that number is added to all items in the `Series`. This is call * broadcasting*:

In [6]:
s + 1000

0    1002
1     999
2    1003
3    1005
dtype: int64

The same is true for all binary operations such as `*` or `/`, and even conditional operations:

In [7]:
s < 0

0    False
1     True
2    False
3    False
dtype: bool

## Index labels

Each item in a `Series` object has a unique identifier called the index label. By default, it is simply the rank of the item in the `Series` (starting at `0`) but you can also set the index labels manually:

In [10]:
s2 = pd.Series([68, 83, 112, 68], index=["alice", "bob", "charles", "darwin"])
s2

alice       68
bob         83
charles    112
darwin      68
dtype: int64

You can then use the `Series` just like a `dict`:

In [11]:
s2["bob"]

83

In [12]:
s2[1]

83

In [13]:
s2.loc["bob"]

83

In [14]:
s2.iloc[1]

83

Slicing a `Series` also slices the index labels:

In [15]:
s2.iloc[1:3]

bob         83
charles    112
dtype: int64

This can lead to unexpected results when using the default numeric labels, so be careful:

In [16]:
surprise = pd.Series([1000, 1001, 1002, 1003]);
surprise

0    1000
1    1001
2    1002
3    1003
dtype: int64

In [22]:
surprise_slice = surprise[2:]
#surprise_slice
try:
  surprise_slice[0]
except KeyError as e:
  print("Key error:", e)

surprise_slice.iloc[0]

Key error: 0

1002